// Variables

// Gray and Brand Colors for use across theme

$theme-primary: #E74939;
$theme-secondary: #E6EAEE;

$nav-bar-font-color:#393737;
$font-color:#95989A;
$header-font-color:#95989A;
$regular-font-color:#505152;
$italic-font-color:#5F6060;

$footer-map-route-color:#D4DBE2;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;
