// Variables

// Gray and Brand Colors for use across theme

$theme-primary: #DF3F53;

$nav-bar-font-color:#f0f0f0;
$font-color:#f0f0f0;
$header-font-color:#f5f8fA;
$regular-font-color:#f0f0f0;
$italic-font-color:#fFf0f0;

$color-bar-users:#5441A4;
$color-bar-founders: #E7755A;
$color-bar-rewards: #5CD0E2;

$background-card-color:#17171B;
$footer-map-route-color:black;

$primary-background: #17171B;
$secondary-background: #101016;

$theme-secondary: $secondary-background;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;
